@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/opensans.woff"), url("../../fonts/opensans.woff2");
  font-weight: 400px;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/opensansbold.woff"), url("../../fonts/opensansbold.woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/opensanalight.woff"), url("../../fonts/opensanslight.woff2");
  font-weight: 200px;
  font-style: normal;
}
