.advantages {
  @include container();
  text-align: center;
  background-color: $lightgrey;
  &__header {
    padding-top: 44px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 115px;
    background-color: $white;
    color: #283645;
    font-size: 24px;
    font-weight: 200;
  }
  &__slogan {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 28.8px;
  }
  &__slogan:first-child {
    margin-bottom: 33px;
  }
  &__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__list {
    padding-top: 86px;
    padding-bottom: 41px;
  }
  &__item {
    margin-bottom: 38px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
  }
  &__content {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }
  &__images {
    margin: 0;
    padding: 0;
  }
  &__image {
    min-height: 266px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: center top;
  }
  &__image:nth-child(2) {
    display: none;
  }
  &__image:nth-child(3) {
    display: none;
  }
  &__news {
    display: none;
  }
}

@media ("$bp-tablet") {
  .advantages {
    &__header {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 55px;
    }
    &__slogan {
      font-size: 40px;
      line-height: 48px;
      padding-left: 35px;
      padding-right: 35px;
    }
    &__slogan:first-child {
      margin-bottom: 20px;
    }
    &__slogan:nth-child(2) {
      padding-left: 146px;
      padding-right: 146px;
    }
    &__wrapper {
      display: flex;
      align-items: stretch;
    }
    &__list {
      order: 1;
      display: flex;
      flex-direction: column;
      width: 310px;
      padding-top: 70px;
      padding-bottom: 43px;
    }
    &__item {
      text-align: left;
    }
    &__images {
      width: 310px;
    }
    &__image {
      padding: 0;
      height: auto;
      background-position: center top;
    }
    &__news {
      padding-top: 60px;
      padding-bottom: 104px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      background: $white;
    }
    &__news-image {
      width: 310px;
    }
    &__news-article {
      padding-top: 41px;
      padding-bottom: 31px;
      width: 310px;
      text-align: left;
    }
    &__news-title {
      padding: 0;
      margin: 0;
      margin-bottom: 16px;
      font-size: 30px;
      line-height: 36px;
    }
    &__news-content {
      padding: 0;
      padding-right: 10px;
      margin: 0;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 11px;
    }
    &__news-link {
      color: $darkred;
      font-size: 14px;
      line-height: 24px;
      text-decoration: underline;
    }
  }
}

@media ("$bp-desktop") {
  .advantages {
    &__header {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 75px;
      padding-bottom: 70px;
      font-size: 50px;
      line-height: 60px;
    }
    &__slogan {
      padding: 0;
      margin-bottom: 15px;
    }
    &__slogan:first-child {
      padding-left: 107px;
      padding-right: 107px;
    }
    &__slogan:nth-child(2) {
      padding-left: 210px;
      padding-right: 264px;
    }
    &__wrapper {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__list {
      padding-top: 55px;
      padding-bottom: 74px;
      width: auto;
      order: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      text-align: center;
      width: 295px;
    }
    &__item:last-child {
      margin-bottom: auto;
    }
    &__title {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 30px;
      line-height: 30px;
    }
    &__content {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 18px;
      line-height: 30px;
    }
    &__images {
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: space-between;
    }
    &__image {
      padding: 0;
      height: 100%;
      width: 295px;
      background-position: center top;
    }
    &__image:nth-child(2) {
      display: inherit;
    }
    &__image:nth-child(3) {
      display: inherit;
    }
    &__news {
      padding-top: 0;
      padding-bottom: 67px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: space-between;
      background: none;
    }
    &__news-article {
      padding-top: 98px;
      padding-bottom: 51px;
      padding-left: 53px;
      width: 627px;
    }
    &__news-title {
      margin-bottom: 26px;
      font-size: 30px;
      line-height: 30px;
    }
    &__news-title br {
      display: none;
    }
    &__news-content {
      padding-right: 45px;
      margin-bottom: 37px;
      font-size: 18px;
      line-height: 30px;
    }
    &__news-content br {
      display: none;
    }
    &__news-link {
      font-size: 18px;
      line-height: 30px;
    }
    &__news-image {
      width: 302px;
    }
  }
}
