.btn {
  display: block;
  font-family: "OpenSans";
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding: 12px 0;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
}
