.contact-info {
  @include container();
  text-align: center;
  padding-top: 48px;
  &__container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 38px;
  }
  &__title {
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
    font-size: 24px;
    color: #283645;
    font-weight: 100;
  }
  &__phone {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    color: #283645;
  }
  &__phone-number {
    text-decoration: none;
    font-size: 24px;
    font-weight: 100;
    color: #d22856;
  }
  &__email {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bolder;
    color: #283645;
  }
  &__email-address {
    text-decoration: none;
    font-size: 24px;
    font-weight: 100;
    color: #d22856;
  }
  &__address {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    color: #283645;
    font-style: normal;
  }
  &__address-content {
    padding: 0;
    margin: 0;
  }
  &__address-full {
    text-decoration: none;
    font-size: 24px;
    font-weight: 100;
    color: #d22856;
  }
}

.contact-info-phone__hidden {
  display: none;
}

.contact-info__email-hidden {
  display: none;
}

@media ("$bp-tablet") {
  .contact-info {
    padding-top: 51px;
    &__container {
      padding-left: 0px;
      padding-right: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 21px;
    }
    &__title {
      flex-basis: 620px;
      padding: 0;
      padding-left: 120px;
      padding-right: 120px;
      margin: 0;
      margin-bottom: 45px;
      font-size: 40px;
      line-height: 40px;
      flex-shrink: 1;
    }
    &__phone {
      padding: 0;
      margin: 0;
      margin-right: 20px;
      flex-basis: 300px;
    }
    &__email {
      padding: 0;
      margin: 0;
      flex-basis: 300px;
    }
    &__address {
      padding: 0;
      padding-left: 205px;
      padding-right: 205px;
      margin: 0;
      margin-top: 27px;
      flex-basis: 620px;
    }
  }
}

@media("$bp-desktop") {
  .contact-info {
    padding-top: 73px;
    &__container {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      justify-content: center;
      margin-bottom: 18px;
    }
    &__title {
      margin-bottom: 55px;
      flex-basis: 940px;
      padding-left: 200px;
      padding-right: 200px;
      font-size: 50px;
    }
    &__phone {
      margin: 0;
      flex-basis: 200px;
      flex-grow: 1;
    }
    &__email {
      flex-basis: 200px;
      flex-grow: 1;
      order: 1;
    }
    &__address {
      padding: 0;
      padding-left: 40px;
      padding-right: 40px;
      margin: 0;
      flex-basis: 200px;
      flex-grow: 1;
      box-sizing: border-box;
    }
  }
}
