.form-achivments {
  @include reset();
  padding-left: 20px;
  padding-right: 20px;
  background-color: $lightgrey;
  padding-top: 17px;
  padding-bottom: 48px;
  &__title {
    float: left;
    width: 100%;
    padding: 0;
    padding-left: 20px;
    padding-right: 23px;
    margin: 12px;
    margin: 0;
    margin-bottom: 47px;
    font-size: 14px;
    line-height: 30px;
    color: $darkred;
    text-transform: uppercase;
  }
  &__container {
    text-align: left;
  }
  &__input {
    display: none;
  }
  &__label {
    position: relative;
    display: block;
    padding-left: 70px;
    margin-bottom: 57px;
    font-size: 18px;
    line-height: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media("$bp-tablet") {
  .form-achivments {
    padding: 0;
    margin-bottom: 57px;
    order: 4;
    border: 2px solid #e5e5e5;
    background-color: $white;
    &__title {
      padding-left: 32px;
      padding-right: 32px;
      margin: 0;
      float: none;
      width: auto;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      display: block;
      border: none;
    }
    &__container {
      padding-left: 60px;
      padding-right: 150px;
      padding-top: 47px;
      padding-bottom: 55px;
    }
    &__label {
      padding-left: 60px;
      padding-right: 0;
    }
  }
}

@media("$bp-desktop") {
  .form-achivments {
    width: 100%;
    &__container {
      padding-top: 51px;
      padding-left: 45px;
      padding-right: 55px;
      padding-bottom: 55px;
      max-height: 231px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      align-items: flex-start;
      flex-direction: wrap;
      box-sizing: border-box;
    }
    &__label {
      padding-left: 60px;
      margin-bottom: 0px;
    }
    &__input {
      width: 50px;
    }
    &__label {
      width: 275px;
      display: block;
      padding-left: 70px;
      margin-bottom: 57px;
      font-size: 18px;
      line-height: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
