.form-app-type {
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 42px;
  border: none;
  background-color: $lightgrey;
  &__input {
    display: none;
  }
  &__label {
    display: block;
    padding-left: 70px;
    font-size: 18px;
    color: $deepblue;
  }
}
