.form-achivments {
  @include reset();
  background-color: $lightgrey;
  padding-top: 40px;
  padding-bottom: 52px;
  &__title {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    color: $darkred;
  }
  &__label {
    display: block;
  }
}

@media("$bp-tablet") {
  .form-achivments {
    order: 4;
    border: 2px solid #e5e5e5;
    background-color: $white;
    &__title {
      padding-left: 32px;
      padding-right: 32px;
      float: none;
      width: auto;
      text-align: center;
    }
  }
}

@media("$bp-desktop") {
  .form-achivments {
    width: 100%;
    &__container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-height: 230px;
      padding-top: 51px;
      padding-left: 45px;
      padding-right: 55px;
      padding-bottom: 55px;
      box-sizing: border-box;
    }
  }
}
