.form-feedback {
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 48px;
  &__title {
    border: none;
    float: left;
    width: 100%;
    color: $darkred;
    text-align: center;
    text-transform: lowercase;
  }
  &__input {
    width: 280px;
    height: 200px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
    resize: none;
  }
}

@media("$bp-tablet") {
  .form-feedback {
    order: 5;
    padding-left: 59px;
    padding-right: 59px;
    border: 2px solid #e5e5e5;
    background-color: $white;
    &__title {
      float: none;
      width: auto;
      text-align: center;
    }
    &__input {
      width: 100%;
    }
  }
}

@media("$bp-desktop") {
  .form-feedback {
    width: 100%;
  }
}
