.main-nav {
  @include container();
  background-color: $deepblue;
  font-family: "OpenSans";
  font-size: 18px;
  line-height: 32px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000001;
  }
  &__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
  }
}

@media ("$bp-desktop") {
  .main-nav {
    float: right;
    width: 620px;
    &__item {
      display: inline-block;
    }
  }
}
