.page-main-header {
  padding-left: 20px;
  padding-right: 20px;
  @include container();
  padding-top: 34px;
  min-height: 170px;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-color: $deepblue;
  background-position: center;
  background-repeat: no-repeat;
  &__title {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
  }
}

@media("bp-desktop") {
  .page-main-header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
