.page-header {
  @include container();
  background-color: $deepblue;
  font-family: "OpenSans";
  font-size: 18px;
  line-height: 32px;
  font-weight: 800;
  color: #ffffff;
  &__wrapper {
    @include clearfix();
  }
  &__logo {
    text-transform: uppercase;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media ("$bp-desktop") {
  .page-header__logo {
    width: 940px;
    float: left;
    width: 150px;
  }
}
