.page-header {
  position: relative;
  @include container();
  background-color: $deepblue;
  font-size: 18px;
  line-height: 32px;
  font-weight: 800;
  color: #ffffff;
  &__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__logo {
    height: 70px;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 22px;
    font-weight: 200;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
  }
}

@media("$bp-tablet") {
  .page-header__logo {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media("$bp-desktop") {
  .page-header {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    &__wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__logo {
      padding-top: 25px;
      padding-bottom: 42px;
      font-size: 0;
      border: none;
    }
  }
}
