.photo-album {
  margin: 0;
  @include container();
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  &__header {
    padding-top: 53px;
    padding-bottom: 56px;
    text-align: center;
  }
  &__title {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }
  &__item {
    padding: 0;
    margin: 0;
  }
  &__user-name {
    font-weight: 800;
    font-style: normal;
    color: #283645;
  }
  &__user-time {
    font-size: 12px;
    font-weight: 200;
  }
  &__user-comment {
    line-height: 24px;
    font-weight: 400px;
  }
  &__item-likes {
    font-size: 12px;
    text-transform: uppercase;
    color: #d22856;
  }
}

@media("$bp-tablet") {
  .photo-album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__header {
      flex-basis: 100%;
      padding-top: 95px;
      padding-bottom: 78px;
    }
    &__item {
      flex-basis: 300px;
      margin-bottom: 20px;
    }
    &__item:nth-child(2) {
      margin-bottom: 51px;
      flex-basis: 100%;
    }
  }
}
