.photo-popular {
  @include container();
  margin-bottom: 20px;
  &__container {
    position: relative;
    padding: 0;
    margin: 0;
  }
  &__trend-tag {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 140px;
    height: 36px;
    background-color: $darkred;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }
  &__img-link {
    margin: 0;
    padding: 0;
  }
  &__img {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: -10px;
  }
  &__content {
    padding: 0;
    padding-left: 17px;
    padding-right: 21px;
    padding-top: 20px;
    padding-bottom: 22px;
    margin: 0 auto;
    width: 280px;
    background-color: #f2f2f2;
  }
  &__user-name {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 800;
    font-style: normal;
    color: #283645;
  }
  &__user-time {
    font-size: 12px;
    font-weight: 200;
  }
  &__user-comment {
    line-height: 24px;
    font-weight: 400;
  }
  &__likes {
    padding-left: 33px;
    margin-top: 19px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #d22856;
  }
}

@media ("$bp-tablet") {
  .photo-popular {
    &__content {
      padding: 0;
      padding-left: 28px;
      padding-right: 28px;
      padding-top: 26px;
      padding-bottom: 27px;
      display: flex;
      width: 620px;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: flex-start;
    }
    &__user-name {
      padding: 0;
      margin: 0;
      width: 273px;
      order: 1;
    }
    &__user-comment {
      padding: 0;
      margin: 0;
      width: 100%;
      order: 3;
    }
    &__likes {
      padding: 0;
      padding-right: 30px;
      margin: 0;
      width: 273px;
      order: 2;
      text-align: right;
    }
    &__trend-tag {
      margin-top: 140px;
    }
  }
}

@media ("$bp-desktop") {
  .photo-popular {
    &__content {
      width: 940px;
    }
    &__trend-tag {
      margin-top: 81px;
      margin-right: 10px;
    }
  }
}
