.photo-upload-app {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $lightgrey;
  &__img {
    display: block;
  }
  &__tools {
    padding-top: 42px;
    padding-bottom: 34px;
    border-bottom: 2px solid #dddfe0;
    text-align: center;
  }
  &__crop {
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
  }
  &__color {
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
  }
  &__brightness {
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
  }
  &__scale {
    width: 240px;
    height: 2px;
    background-color: #283645;
  }
  &__controls {
    box-sizing: border-box;
    min-height: 202px;
    padding-top: 38px;
    padding-bottom: 42px;
  }
}

@media("$bp-tablet") {
  .photo-upload-app {
    padding-top: 57px;
    padding-bottom: 57px;
    display: flex;
    justify-content: space-between;
  }
  &__img {
    flex-basis: 300px;
  }
  &__control {
    flex-basis: 300px;
  }
}

@media("$bp-desktop") {
  .photo-upload-app {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    &__img {
      flex-basis: 470px;
      padding-left: 80px;
      padding-right: 90px;
      box-sizing: border-box;
    }
    &__control {
      flex-basis: 470px;
      padding-right: 60px;
      box-sizing: border-box;
    }
  }
  .photo-upload-app__btns {
    display: flex;
  }
}
