.price {
  padding-top: 93px;
  padding-bottom: 100px;
  @include container();
  position: relative;
  background-color: #f2f2f2;
  &__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__item {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  &__item-row {
    padding: 0;
    margin: 0;
    width: 280px;
  }
  &__item-futures {
    font-size: 14px;
    line-height: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 22px;
  }
  &__item-head {
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    background-color: #283645;
    font-size: 18px;
    line-height: 30px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    &--empty {
      background: none;
    }
  }
  &__item-head:not(:nth-child(3)) {
    display: none;
  }
  &__item-currency {
    font-size: 24px;
    line-height: 30px;
    font-weight: 200;
  }
  &__item-futures {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    text-transform: uppercase;
    background-color: $white;
  }
}

.price__sld-control {
  position: absolute;
  bottom: 47px;
  left: 50%;
  width: 140px;
  height: 12px;
  text-align: center;
  border: 1px dotted green;
  z-index: 1000;
  margin-left: -70px;
}

.price__toggles {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 0 9px;
  background: #b5b9be;
  border: 3px solid #b5b9be;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  &--active {
    background: #ffffff;
    border: 5px solid #354250;
  }
}

@media ("$bp-tablet") {
  .price {
    padding-bottom: 68px;
    &__item-head {
      display: table-cell;
    }
    &__item-head:not(:nth-child(5)) {
      display: table-cell;
    }
  }
}

@media("$bp-desktop") {
  .price {
    padding-top: 147px;
    padding-bottom: 95px;
  }
  &__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
