.price {
  padding-top: 93px;
  padding-bottom: 100px;
  @include container();
  position: relative;
  background-color: #f2f2f2;
  &__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__item {
    padding: 0;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
  }
  &__item-row {
    padding: 0;
    margin: 0;
    width: 280px;
  }
  &__item-futures {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    background-color: $white;
    color: #283645;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    border: 2px solid #e5e5e5;
  }
  &__item-point {
    display: none;
    font-size: 14px;
    line-height: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 22px;
    background-color: $white;
    border: 2px solid #e5e5e5;
  }
  &__item-head {
    position: relative;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    background-color: #283645;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    font-size: 18px;
    line-height: 30px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    &--empty {
      background: none;
      border: none;
    }
  }
  .price__item-head--hit::before {
    z-index: 0;
    position: absolute;
    content: "";
    width: 73px;
    height: 73px;
    top: 0;
    left: 0;
    background-image: url("../../img/bg-hit.svg");
    background-repeat: no-repeat;
  }
  &__item-head:not(:nth-child(3)) {
    display: none;
  }
  &__item-currency {
    font-size: 24px;
    line-height: 30px;
    font-weight: 200;
  }
  &__item-futures {}
}

.price__sld-control {
  position: absolute;
  bottom: 47px;
  left: 50%;
  width: 140px;
  height: 12px;
  text-align: center;
  z-index: 1000;
  margin-left: -70px;
}

.price__toggles {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 0 9px;
  background: #b5b9be;
  border: 1px solid transparent;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  &--active {
    background: #ffffff;
    border: 3px solid #283645;
  }
}

@media ("$bp-tablet") {
  .price {
    padding-bottom: 68px;
    &__item-head {
      display: table-cell;
      font-size: 16px;
    }
    &__item-head:not(:nth-child(5)) {
      display: table-cell;
    }
    &__item-currency {
      font-size: 18px;
    }
    &__item-point {
      display: table-cell;
    }
  }
  .price__sld-control {
    display: none;
  }
}

@media("$bp-desktop") {
  .price {
    padding-top: 147px;
    padding-bottom: 95px;
  }
  &__item-head {
    font-size: 18px;
  }
  &__item-currency {
    font-size: 24px;
  }
  &__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
