.reviews {
  //  position: relative;
  padding-top: 45px;
  padding-bottom: 82px;
  @include container();
  background-color: $white;
  text-align: center;
  &__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__item {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  &__author-name {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 21px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 800;
    font-style: normal;
  }
  &__author-info {
    display: none;
  }
  &__author-content {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #283645;
    text-align: center;
  }
}

.reviews__sld-controls {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 12px;
  text-align: center;
  z-index: 1000;
}

.reviews__toggles {
  width: 8px;
  height: 8px;
  margin-right: 19px;
  background: #bec2c7;
  border: 3px solid #bec2c7;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  &--active {
    border: 2px solid #283645;
    background: #ffffff;
  }
}

.slider__input {
  display: none;
}

@media ("$bp-tablet") {
  .reviews {
    padding-top: 17px;
    padding-bottom: 94px;
    padding-bottom: 70px;
    &__item {
      display: flex;
      flex-direction: column-reverse;
    }
    &__author-info {
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
    &__author-name {
      font-size: 20px;
      line-height: 30px;
    }
    &__author-content {
      margin-bottom: 39px;
      font-size: 18px;
    }
  }
  .reviews__sld-controls {
    margin-top: 14px;
  }
}

@media ("$bp-desktop") {
  .reviews {
    padding-top: 187px;
    padding-bottom: 43px;
    &__wrapper {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__item {
      margin: 0 auto;
      width: 820px;
    }
    &__author-name {
      font-size: 24px;
    }
    &__author-info {
      font-size: 18px;
    }
    &__author-content {
      font-size: 18px;
    }
  }
  .reviews__sld-controls {
    display: none;
  }
}
