.reviews {
  background-color: $white;
  font-family: "OpenSans";
  line-height: 30px;
  &__author-name {
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
  }
  &__author-content {
    font-size: 14px;
    font-weight: 400;
    color: #283645;
  }
}
